.header_no-index, .header {
  background-color: rgba(248, 246, 246, 0);
  padding: 15px;
  position: absolute;
  width: 90vw;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .header_nav {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .header {
    display: flex;
    color: cornsilk;
    width: 100vw;
  }
  .header h1 {
    font-size: 2rem;
  }
  .header__nav {
    width: 50%;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo img {
  padding: 5px;
  width: 100px;
}
.header__title {
  padding: 10px;
}
.header__nav ul {
  display: flex;
  justify-content: space-around;
}
.header_no-index {
  color: cornsilk;
  font-size: 2rem;
  width: 100vw;
}
.header_no-index {
  position: relative;
  background-color: hsla(325deg, 61%, 39%, 0.397);
  font-size: 1rem;
}
@media (min-width: 768px) {
  .header_no-index {
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .header_no-index {
    display: flex;
  }
  .header_no-index h1 {
    font-size: 2rem;
  }
  .header_no-index__nav {
    width: 50%;
  }
}

.nav-link,
.nav-link-2 {
  color: white;
}

.logo_img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul,
ol {
  list-style: none;
}

a,
li {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

h4 {
  font-family: "Times New Roman";
}

.contacto__tituloppal {
  display: grid;
  justify-content: center;
  align-items: center;
}
.contacto__mapa {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.contacto__mapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contacto__img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  align-items: flex-end;
}
.contacto_cajitas {
  border: 3px solid rgba(41, 8, 8, 0.76);
  padding: 20px;
  margin: 10px;
  display: grid;
  width: 90%;
  height: 30vh;
}
.contacto__seccion__a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto__formulario {
  width: 90%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
}
@media (min-width: 520px) {
  .contacto__formulario {
    width: 460px;
  }
}
.contacto__subtitulo {
  text-align: center;
  align-items: center;
  color: hsla(325deg, 61%, 39%, 0.397);
  font-size: 1.3rem;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

input {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
@media (min-width: 520px) {
  input {
    width: 408px;
  }
}

textarea {
  width: 100%;
  height: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
@media (min-width: 520px) {
  textarea {
    width: 405px;
  }
}

.footer__patrocinadores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: 3s;
}

.footer__subtitulo {
  text-align: center;
  align-items: center;
}

.footer__img {
  width: 100%;
}

.footer__contacto {
  padding: 10px 20px 20px 20px;
}

.hero {
  grid-area: hero;
  height: 100vh;
  background-image: url(../assets/img/portada2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text {
  padding: 30px 100px 30px 100px;
  text-align: center;
  color: azure;
}
@media (min-width: 1200px) {
  .hero__text {
    font-size: 2rem;
    padding: 30px 100px 30px 100px;
    text-align: center;
    color: azure;
    background-color: hsla(325deg, 61%, 39%, 0.397);
  }
}
.hero__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__logo img {
  padding: 5px;
  width: 40px;
}

.cajita {
  width: 100%;
  height: 100%;
  grid-area: nota;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.cajita-g {
  margin-top: 5%;
  margin-bottom: 5%;
}
.cajita__img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.cajita__texto {
  margin: 20px 10px 20px 10px;
  color: blueviolet;
  height: 20%;
  font-size: 1em;
  font-style: "Roboto";
}
.cajita__titulo {
  padding: 20px;
  color: hsla(325deg, 61%, 39%, 0.397);
  height: max-content;
}
.cajita__masinfo {
  background-color: hsla(325deg, 61%, 39%, 0.397);
  color: white;
  padding: 10px 30px 10px 30px;
}
.cajita__masinfo:hover {
  background-color: white;
  color: blue;
}

.titulo__titulo {
  grid-area: titulo;
  background-color: hsla(325deg, 61%, 39%, 0.397);
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(41, 8, 8, 0.76);
  padding: 20px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
  width: 100%;
  box-shadow: 0 0.5rem 0.5rem hsla(325deg, 66%, 30%, 0.397);
}
@media (min-width: 520px) {
  .titulo__titulo {
    margin-bottom: 2%;
  }
}

.section-novedades__title {
  text-align: center;
  padding: 20px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video__container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.servicios__section {
  margin: 20px;
  padding: 10px;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: auto auto auto;
  gap: 10px;
  font-size: 0.8em;
  flex-direction: row;
  color: hsla(325deg, 61%, 39%, 0.397);
}
@media (min-width: 520px) {
  .servicios__section {
    font-size: 1em;
  }
}

.margen {
  margin-left: 5%;
  margin-right: 5%;
}
@media (min-width: 1200px) {
  .margen .margen {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 520px) {
  .contenedor-g {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }
  .contenedor__favoritos-g {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }
  .contenedor__patrocinadores-g {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1em;
  }
}
@media (min-width: 768px) {
  .contenedor__contacto-g {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }
  .contenedor__favoritos-g {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
  }
  .contenedor__patrocinadores-g {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1em;
  }
}
@media (min-width: 1200px) {
  .contenedor-g {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
  }
  .contenedor-g__patrocinadores-g {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 1em;
  }
  .producto-xl {
    display: block;
  }
  .contacto_cajitas {
    height: 250px;
  }
  .servicios__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=styles.css.map */
