/* Reseteo de formatos del navegador */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    ;
}

ul,
ol {
    list-style: none;
}

a,
li {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    margin: 0;
}

/*  HEADER */

.header {
    /* background-color: rgba(252, 251, 250, 0); */
    padding: 15px;
    position:absolute;
    color: rgb(31, 80, 145);
    /* el background transparente y posicion absolute
    hace que la imagen abarque el nav */
    width: 100vw;

}

.header_no-index {
    background-color: rgba(67, 142, 212, 0.308); 
    padding: 15px;
    /* position:absolute; */
    color: rgb(31, 80, 145);
    /* el background transparente y posicion absolute
    hace que la imagen abarque el nav */
    width: 100vw;
    /* font-size: 0.8em; */

}



.header h1, .header_no-index h1 {
    color: cornsilk;
    margin-left: 10px;
    font-size: 1rem ;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__logo img {
    padding: 5px;
    width: 100px;
}

.header__title {
    /* text-align: center; */
    padding: 10px;
}

.header__nav ul {
    display: flex;
    justify-content: space-around;
    /* alineo y distribuyo en el header */
}

.nav-link {
    color: white;
}
.nav-link-2 {
    color:rgb(31, 80, 145);;
}



@media(min-width:768px) {

    .header, .header_no-index {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    .header__nav {
        width: 50%;
        /* para que se distribuya el texto y no queden juntos */
    }


    .contenedor-g {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5em;

    }

    .contenedor__favoritos-g {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 0.5em;

    }

    .contenedor__patrocinadores-g {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 1em;

    }

}

    @media(min-width:1200px) {

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .hero__text {
            font-size: 4rem;
            padding: 30px 100px 30px 100px;
            text-align: center;
            color: azure;
            background-color: hsla(325, 61%, 39%, 0.397);
        }
        .header h1 {
            font-size: 2rem ;
        }

        .header__nav {
            width: 50%;
        }


        .contenedor-g {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5em;

        }

        .contenedor__favoritos-g {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            gap: 0.5em;

        }

        .contenedor__patrocinadores-g {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            gap: 1em;

        }

        .producto-xl {
            display:block;
        }

    }

    /* FIN DEL MEDIA 1200 */


    /*  Hero Section */

    .hero {
        grid-area: hero;
        height: 100vh;
        background-image: url(../assets/img/portada2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero__text {
        font-size: 1rem;
        padding: 30px 100px 30px 100px;
        text-align: center;
        color: azure;
        /* background-color: hsla(325, 61%, 39%, 0.397); */
    }

    .hero__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero__logo img {
        padding: 5px;
        width: 40px;
    }

    /* .hero__text h3 {
         color: azure;
        
    } */

    /* Comienzo a armar la seccion novedades */

    .titulo__titulo {
        grid-area: titulo;
        background-color: hsla(325, 45%, 75%, 0.397);
        font-size: 1.5rem;
        font-weight: 600;
        color: rgba(94, 9, 9, 0.452);
        padding: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .section-novedades__title {
        text-align: center;
        padding: 20px;
    }


    .cajita {
        width: 100%;
        height: 100%;
        /* border: 3px solid black; */
        /* background-color: aqua; */
        grid-area: nota;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        
    }

    .cajita__img {
        width: 90%;
    }

    .cajita__texto {
        margin: 5px 10px 5px 10px;
        color: blueviolet;
    }

    .cajita__titulo {
        /* background-color: aqua; */
        padding: 20px;
        color: rgba(41, 8, 8, 0.76);
    }

    .cajita__masinfo {
        background-color: hsla(325, 61%, 39%, 0.397);
        color: white;
        padding: 10px 30px 10px 30px;
        
    }

    .cajita__masinfo:hover {
        background-color: white;
        color: blue;
    }

    /* .producto-xl {
        display: none;
    } */
    /* Armo el pie de pagina */


    .footer__patrocinadores {
        /* height: 300px; */
        /* background-color: chartreuse; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        
        transition: 3s;
    }


    .footer__subtitulo {
        /* padding: 10px; */
        text-align: center;
        align-items: center;
    }


    .footer__img {
        width: 100%;

    }

    .footer__contacto {
        padding: 10px 20px 20px 20px;
    }

