// vinculo los archivos sass

@import "./utils/variables";
@import "./layout/header";
@import "./base/reset";
@import "./pages/contacto";
@import "./layout/footer";
@import "./utils/mixins";
@import "./components/hero";
@import "./components/cards";






// ++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++ INICIO LOS MEDIA QUERIES +++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++

// @mixin mobile {
//     @media (min-width: 520px) {
//         @content
//     }
// }



@media(min-width:520px) {


    .contenedor-g {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
    }

    .titulo__titulo {
        margin-bottom: 2%;
    }

    .contenedor__favoritos-g {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
    }

    .contenedor__patrocinadores-g {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1em;
    }

}






@media(min-width:1200px) {


    // .hero__text {
    //     font-size: 2rem;
    //     padding: 30px 100px 30px 100px;
    //     text-align: center;
    //     color: azure;
    //     background-color: $color-seccion-titulo-fondo;
    // }


    .margen {
        margin-left: 10%;
        margin-right: 10%;
    }


    .contenedor-g {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5em;
        &__patrocinadores-g {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            gap: 1em;
        }
    }

    .producto-xl {
        display: block;
    }

    .contacto_cajitas {
        height: 250px;
    }

    .servicios__section {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        font-size: 1.2em;
    }

}

// FIN DEL MEDIA 1200