$color-seccion-titulo-fondo: hsla(325, 61%, 39%, 0.397);
$color-seccion-titulo-letra: rgba(41, 8, 8, 0.76);
$color-cajita-fondo: white;
$color-transparente:#f8f6f600;
$color-seccion-titulo-sombra: hsla(325, 66%, 30%, 0.397);