
.footer__patrocinadores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    transition: 3s;
}


.footer__subtitulo {
    text-align: center;
    align-items: center;
}


.footer__img {
    width: 100%;

}

.footer__contacto {
    padding: 10px 20px 20px 20px;
}
