* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 2px solid red;
    font-family:'Times New Roman', Times, serif;
}

ul,
ol {
    list-style: none;
}

a,
li {
    text-decoration: none;
}

body {
    font-family: sans-serif;

}

h4, {
    font-family:'Times New Roman', Times, serif;
}
